body {
  align-content: center;
  background-image: url(./../assets/images/img_background.jpg);
  background-size: 100%;
  box-sizing: border-box;
  display: block;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

/* ------ HEADER ------ */ 
header > h1 {
  background: linear-gradient(#76278F, #2B1E66);
  color: white;
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 4px 0;
  text-align: center;  
}

/* ------ SECCIÓN MAIN ------ */ 
#mainContainer {
  background-color: transparent;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
  width: 100%;
}

#mainContainer > section {
  border: none;
  height: 80px;
  position: relative;
  margin: 1em auto;
  top: 10px;
  width: 90%;
}

/* ------ SECCIÓN MAIN > TEXT TWEET------ */ 
#mainContainer #textTweet {
  box-sizing: border-box;
}

#mainContainer #textTweet #insertTweet {
  border: none;
  height: auto;
  position: relative;
  resize: none;
  width: 99%;
}

#mainContainer #textTweet #insertTweet:first-child {
  padding: .5em;
}

/* ------ SECCIÓN MAIN > CONTAINER TWEET------ */ 
#mainContainer #containerTweet #newTweet {
  vertical-align: center;
  background-color: white;
  border-radius: 4px;

}
#mainContainer #containerTweet #newTweet:first-child { 
  padding: .5em;
}